  <footer>
    <ul>
      <li>Conor Fenner-Toora</li>
      <% bottomLinks.forEach(({ href, text }) => { %>
      <li>
        <a href="<%= href %>" rel="noopener noreferrer" target="_blank"
          ><%= text %></a
        >
      </li>
      <% }); %>
    </ul>
  </footer>
  <script defer>
    window.addEventListener("load", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js");
      }
    })
  </script>
</html>
