  <footer>
    <style as="text/css">
      footer ul {
        display: flex;
        justify-content: space-evenly;
        padding: 32px 0;
        font-family: Avenir;
        font-size: calc(0.5rem + 1vw);
      }

      footer a {
        text-decoration: none;
      }

      footer a:hover,
      footer a:focus {
        border-bottom: 1px solid;
        margin-bottom: -1px;
      }
    </style>
    <ul>
      <li>Conor Fenner-Toora</li>
      <% bottomLinks.forEach(({ href, text }) => { %>
      <li>
        <a href="<%= href %>" rel="noopener noreferrer" target="_blank"
          ><%= text %></a
        >
      </li>
      <% }); %>
    </ul>
  </footer>
  <script defer>
    window.addEventListener("load", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js");
      }
    })
  </script>
</html>
