<%- include('_header', { preloads: null, prefetches: null }) %>
<main>
  <p class="description"><%= description %></p>
  <img
    src="https://images.prismic.io/conorwebcomic/c2a3aa36-2adb-4a1e-9c39-de035c8b23a6_page+27+flat+1.jpg?auto=compress%2Cformat&fm=webp&width=600" />
</main>
<%- include('_footer') %>
