<%- include('_header', { preloads: null, prefetches: null, inlineStyles }) %>
<main>
  <% for (const line of description) { %>
  <p class="description"><%= line %></p>
  <% } %>
</main>
<%- include('_footer') %>
