    <footer>
      <ul>
        <li>Conor Fenner-Toora</li>
        <li>
          <a
            href="https://www.instagram.com/fennertoorac/"
            rel="noopener noreferrer"
            target="_blank">
            instagram
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/conorft"
            rel="noopener noreferrer"
            target="_blank">
            twitter
          </a>
        </li>
        <li>
          <a
            href="https://conorft.myportfolio.com/home"
            rel="noopener noreferrer"
            target="_blank">
            website
          </a>
        </li>
        <li>
          <a
            href="https://ko-fi.com/fennertoorac"
            rel="noopener noreferrer"
            target="_blank">
            ko-fi
          </a>
        </li>
      </ul>
    </footer>
  </>
</html>
