<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Settler</title>
    <link href="src/static/index.css" rel="stylesheet" />
    <link
      href="<%= issue.pages[0].image.placeholder %>"
      rel="preload"
      as="image" />
    <script src="src/static/index.js" defer></script>
  </head>
  <header>
    <nav>
      <a href="/">
        <picture>
          <source srcset="src/static/the-settler-title-art.webp" />
          <img
            src="src/static/the-settler-title-art.png"
            height="50"
            width="220"
            alt="The Settler" />
        </picture>
      </a>
      <ul>
        <li>
          <a href="/issues"> issues </a>
        </li>
        <li>
          <a href="/about"> about </a>
        </li>
        <li>
          <a href="/archive"> archive </a>
        </li>
      </ul>
    </nav>
  </header>
</html>
