.description {
  font-family: Avenir;
  font-size: 1.5rem;
  margin: 32px 64px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin: 48px auto 24px auto;
  }

  .description {
    font-family: Avenir;
    font-size: 1rem;
    margin: 32px;
  }
}
