.page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.page-list li {
  padding: 2rem;
  font-family: Avenir;
  border-bottom: 1px solid white;
}

.page-list a {
  text-decoration: none;
  color: white;
}
