*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  overflow: scroll;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Avenir;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 1px solid;
  letter-spacing: -1px;
  margin: 2rem auto;
  width: fit-content;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 5rem;
}

nav img {
  height: 50px;
  min-width: fit-content;
  filter: invert(1);
  width: 100%;
  padding: 0.25rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  font-family: Avenir;
  font-size: 1.5rem;
  letter-spacing: 0.1ch;
  height: fit-content;
  color: black;
  text-decoration: none;
}

.nav-link:hover:not(.active),
.nav-link:focus:not(.active) {
  cursor: pointer;
  border-bottom: 1px solid;
  margin-bottom: -1px;
}

.active {
  border-bottom: 1px solid;
  margin-bottom: -1px;
}

@media (max-width: 768px) {
  nav {
    margin: 2rem 2rem 0 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }
  nav ul {
    gap: 0rem;
    width: 100%;
    justify-content: space-between;
  }
}
